<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Members</key>
	<array>
		<dict>
			<key>name</key>
			<string>Frank Sciortino</string>
			<key>position</key>
			<string>Président</string>
			<key>age</key>
			<string>21 ans</string>
			<key>drink</key>
			<string>JaggerBomb</string>
			<key>dj</key>
			<string>Gareth Emery</string>
			<key>partyDestination</key>
			<string>Mykonos, Grèce</string>
			<key>email</key>
			<string>francois-joseph.sciortino@hec.ca</string>
			<key>detailPic</key>
			<string>FrankSciortino.png</string>
			<key>surnom</key>
			<string>François-Joseph</string>
			<key>moment</key>
			<string>IBM 2011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Karl Vaillancourt</string>
			<key>position</key>
			<string>Trésorier</string>
			<key>age</key>
			<string>21 ans</string>
			<key>drink</key>
			<string>Liquid Cocain</string>
			<key>dj</key>
			<string>Sebastian Ingrosso</string>
			<key>partyDestination</key>
			<string>Vienne, Autriche</string>
			<key>email</key>
			<string>karl.vaillancourt@hec.ca</string>
			<key>detailPic</key>
			<string>KarlVail.png</string>
			<key>surnom</key>
			<string>Mr. WorldWide</string>
			<key>moment</key>
			<string>JDC 2012</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Annie Leclerc</string>
			<key>position</key>
			<string>VP Interne</string>
			<key>age</key>
			<string>21 ans</string>
			<key>drink</key>
			<string>Martini Litchi</string>
			<key>dj</key>
			<string>Steve Aoki</string>
			<key>partyDestination</key>
			<string>South Beach, USA</string>
			<key>email</key>
			<string>annie.leclerc@hec.ca</string>
			<key>detailPic</key>
			<string>AnnieLeclerc.png</string>
			<key>surnom</key>
			<string>Announe</string>
			<key>moment</key>
			<string>Intégrer les bébés 4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stéphanie Gravel-Bédard</string>
			<key>position</key>
			<string>VP Bal</string>
			<key>age</key>
			<string>23 ans</string>
			<key>drink</key>
			<string>Abricot Brandy Sour</string>
			<key>dj</key>
			<string>Armin Van Buuren</string>
			<key>partyDestination</key>
			<string>Miami, USA</string>
			<key>email</key>
			<string>stephanie.gravelbedard@hec.ca</string>
			<key>detailPic</key>
			<string>StephGravel.png</string>
			<key>surnom</key>
			<string>Scotchtape</string>
			<key>moment</key>
			<string>Fête des enfants 2011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nick Ryan</string>
			<key>position</key>
			<string>VP aux Communications</string>
			<key>age</key>
			<string>Vénérable</string>
			<key>drink</key>
			<string>Labatt 50</string>
			<key>dj</key>
			<string>MC Mario</string>
			<key>partyDestination</key>
			<string>Bangkok, Thaïlande</string>
			<key>email</key>
			<string>nicolas.ryan@hec.ca</string>
			<key>detailPic</key>
			<string>NickRyan.png</string>
			<key>surnom</key>
			<string>Papi</string>
			<key>moment</key>
			<string>Gagner le GRA</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Geneviève Higgins-Desbiens</string>
			<key>position</key>
			<string>VP aux Commandites</string>
			<key>age</key>
			<string>21 ans</string>
			<key>drink</key>
			<string>Sex on the Beach</string>
			<key>dj</key>
			<string>U&amp;B</string>
			<key>partyDestination</key>
			<string>Ischia, Italie</string>
			<key>email</key>
			<string>genevieve.higgins-desbiens@hec.ca</string>
			<key>detailPic</key>
			<string>Genevieve.png</string>
			<key>surnom</key>
			<string>Lady Point G</string>
			<key>moment</key>
			<string>Victoire d&apos;intégratrice de l&apos;année</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catherine S. Beaucage</string>
			<key>position</key>
			<string>VP aux Relations Publiques</string>
			<key>age</key>
			<string>21 ans</string>
			<key>drink</key>
			<string>Gin 7up</string>
			<key>dj</key>
			<string>Moby</string>
			<key>partyDestination</key>
			<string>Barcelona, Espagne</string>
			<key>email</key>
			<string>Catherine-s.beaucage@hec.ca</string>
			<key>detailPic</key>
			<string>CathBeaucage.png</string>
			<key>surnom</key>
			<string>Kitty Cat</string>
			<key>moment</key>
			<string>La plage 2012</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gab B. Harris</string>
			<key>position</key>
			<string>VP Bague-Album</string>
			<key>age</key>
			<string>21 ans</string>
			<key>drink</key>
			<string>Appletini</string>
			<key>dj</key>
			<string>Alesso</string>
			<key>partyDestination</key>
			<string>Hvar, Croatie</string>
			<key>email</key>
			<string>gabrielle.bergeron-harris@hec.ca</string>
			<key>detailPic</key>
			<string>GabHarris.png</string>
			<key>surnom</key>
			<string>G</string>
			<key>moment</key>
			<string>Fantôme intégrations 2011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sam Cormier</string>
			<key>position</key>
			<string>VP Évènements</string>
			<key>age</key>
			<string>22 ans</string>
			<key>drink</key>
			<string>Skittle Bomb</string>
			<key>dj</key>
			<string>Boys Noize</string>
			<key>partyDestination</key>
			<string>Brisbane, Australie</string>
			<key>email</key>
			<string>Samuel.cormier@hec.ca</string>
			<key>detailPic</key>
			<string>SamCormier.png</string>
			<key>surnom</key>
			<string>Pidgeotto</string>
			<key>moment</key>
			<string>Charm night 2011</string>
		</dict>
	</array>
</dict>
</plist>
