<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Members</key>
	<array>
		<dict>
			<key>name</key>
			<string>Frank Sciortino</string>
			<key>position</key>
			<string>Président</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC</string>
			<key>job</key>
			<string>chilling</string>
			<key>paragraph</key>
			<string>fjaksldfjalksdfjalksfjaslkjs</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Karl</string>
			<key>position</key>
			<string>VP Interne/Externe</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Annie Leclerc</string>
			<key>position</key>
			<string>VP Interne/Externe</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string>annie.leclerc@hec.ca</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stéphanie Gravel-Bédard</string>
			<key>position</key>
			<string>VP Bal</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nicolas Ryan</string>
			<key>position</key>
			<string>VP Communications</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Geneviève Higgins-Desbiens</string>
			<key>position</key>
			<string>VP Commandites</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catherine S. Beaucage</string>
			<key>position</key>
			<string>VP Relations Publiques</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gabrielle B. Harris</string>
			<key>position</key>
			<string>VP Défilé / Bagues-Album</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samuel Cormier</string>
			<key>position</key>
			<string>VP Évènements</string>
			<key>age</key>
			<string>21 ans</string>
			<key>school</key>
			<string>HEC: Finit son BAA en avril 2013. DESS en comptabilité pour obtention du titre CA jusqu&apos;en septembre 2014.</string>
			<key>job</key>
			<string>Stagiaire chez Ersnt &amp; Young</string>
			<key>paragraph</key>
			<string>J&apos;aime faire le party, danser sur les bars avec mes poulettes, je ris toujours, et j&apos;aime faire n&apos;importe quoi: surf, camping, un roadtrip, du rafting...</string>
			<key>email</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
