<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Partenaires</key>
	<array>
		<dict>
			<key>pic</key>
			<string>labatt.png</string>
			<key>name</key>
			<string>Labatt</string>
			<key>website</key>
			<string>http://www.labatt.com/?language=fr</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>redbull.png</string>
			<key>name</key>
			<string>Red Bull</string>
			<key>website</key>
			<string>http://www.redbull.com</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>bnc.png</string>
			<key>name</key>
			<string>Banque Nationale (BNC)</string>
			<key>website</key>
			<string>http://www.bnc.ca</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>deloitte.png</string>
			<key>name</key>
			<string>Deloitte</string>
			<key>website</key>
			<string>http://www.deloitte.com</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>td.png</string>
			<key>name</key>
			<string>TD Meloche Monnex</string>
			<key>website</key>
			<string>http://www.melochemonnex.com/</string>
		</dict>
	</array>
</dict>
</plist>
