<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Partenaires</key>
	<array>
		<dict>
			<key>name</key>
			<string>Canon </string>
			<key>website</key>
			<string>www.canon.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nike</string>
			<key>website</key>
			<string>www.nike.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Twitter</string>
			<key>website</key>
			<string>www.twitter.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Facebook</string>
			<key>website</key>
			<string>www.facebook.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Harvard</string>
			<key>website</key>
			<string>www.harvard.edu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cisco</string>
			<key>website</key>
			<string>www.cisco.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trek Bikes</string>
			<key>website</key>
			<string>www.trekbikes.com</string>
		</dict>
	</array>
</dict>
</plist>
