<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>q8QUKt4kQn6E0Q_felgViw</string>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>AtZbH8fwSJiU4ozvOlqPMA</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>x2ZWbBLAQl2umEl-V5sE5Q</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>p3neNEmnT1uW2yIj2Ys2sA</string>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<string>YES</string>
</dict>
</plist>
